.app {
	height: 100%;
}

body {
	background-color: rgba(0,0,0,0.1);
	height: 100%;
	position: relative;
}

body * {
	box-sizing: border-box;
}

.main {
	height: 100%;
}

#headerSpacer {
	height: 140px;
}

#rightSide {
	margin-left: 28%;
}