.app {
	height: 100%;
}

body {
	background-color: rgba(0,0,0,0.1);
	height: 100%;
	position: relative;
}

body * {
	box-sizing: border-box;
}

.main {
	height: 100%;
}

#headerSpacer {
	height: 140px;
}

#rightSide {
	margin-left: 28%;
}

.sendReceiveSelector {
	display: inline-block;
	width: 40%;
	border-radius: 5px;
	padding: 15px 0px;
	text-align: center;
	background-color: lightgray;
	cursor: pointer;
	margin: -40px 5% 10px;
}

.sendReceiveSelector:hover {
	background-color: gray;
	color: white;
}

.selected {
	background-color: rgba(27,123,242,1);
	color: white;
}