.card {
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	margin: 20px;
	padding: 20px 35px;
	border-radius: 5px;
	background-color: white;
	width: auto;
	max-width: 60%;
	overflow: visible;
}

.card > h2 {
	margin: 10px auto;
}

.card > .comments {
	margin-top: 20px;
}

.card > .comments > input[type="text"], 
.card > form > input[type="text"], 
.card > form > input[type="password"] {
	padding: 12.5px 10px;
	outline: none;
	border: 0px solid #a1a1a1;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	font-size: 16px;
	width: 100%;
	max-width: 490px;
	transition: ease 0.25s;
}

.card > .comments > img {
	background-color: gray;
	height: 43px;
	width: 43px;
	border: none;
	outline: none;
	border-radius: 5px;
	margin-left: 15px;
	background-size: contain;
	float: right;
}
 
.card > form > input[type="text"]:hover, 
.card > form > input[type="password"]:hover {
	background-color: rgba(0,0,0,0.15);
	padding: 11.5px 9px;
	border: 1px solid rgba(0,0,0,0.20);
}

.card > form > input[type="text"]:focus, 
.card > form > input[type="password"]:focus {
	background-color: rgba(0,0,0,0.15);
	/* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
	padding: 10.5px 8px;
	border: 2px solid rgba(0,0,0,0.20);
}

button {
	padding: 10px 15px;
	background-color: rgba(27,123,242,1);
	color: white;
	outline: none;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transition: ease 0.25s;
	float: right;
}

button:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

button:focus {
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	background-color: rgb(14, 102, 209);
}

form {
	overflow: visible; /* this needs to be `visible` so that input box shadow not cut off */
}