@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

header {
	padding: 10px 40px;
	background-color: rgba(27,123,242,1);
	/* background: linear-gradient(0deg, rgba(27,123,242,1) 0%, rgba(27,160,242,1) 100%); */
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	position: fixed;
	width: 100%;
	z-index: 99999;
}

.headerLogo {
	color: white;
}

header > p > a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin-right: 25px;
	transition: ease 0.25s;
}

header > p > a:hover, header > p > a:focus {
	color: rgba(255,255,255,0.8);
}