#leftSidebar {
	max-height: 80%;
	width: 360px;
	background-color: white;
	color: black;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 0px 5px 5px 0px;
	margin-top: 20px;
	position: fixed;
	padding: 20px 20px;
	overflow: scroll;
}